.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 for 7 days */
  grid-template-rows: 1fr; /* takes the full height */
  width: 100vw;
  height: 100vh;
  position: relative; /* for the hour lines and moving line */
}

.weekday-container {
  grid-column: 1 / -1; /* span all columns */
  display: contents; /* so it doesn't create an extra layer in the grid */
}

.weekday-column {
  grid-row: 1; /* to ensure overlap */
  position: relative; /* for positioning event blocks */
  display: flex; /* new */
  flex-direction: column; /* new */
}

.weekday-header {
  font-size: 12px; /* Adjust the font size to your liking */
  text-align: center;
  padding: 10px 0;
  border-width: 1px;
  border-style: solid;
}

.hour-line,
.moving-line {
  grid-row: 1;
  grid-column: 1 / -1;
  z-index: 1;
  position: absolute; /* make it absolute so that it's relative to the grid cell */
}

.moving-line {
  left: 0;
  right: 0;
  height: 2px;
  background-color: red;
}

.hour-line {
  left: 0;
  right: 0;
  height: 1.5px;
  background-color: grey;
  color: grey;
  font-size: 10px;
}

.event-block {
  position: absolute;
  width: 100%;
  background-color: purple;
  color: black;
  text-align: center;
  opacity: 0.6;
}

.content-container {
  position: relative;
  flex-grow: 1;
}
