.container {
  width: 100vw; /* Full viewport width */
  height: 100vh;
}

.moving-line {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: red;
}

.hour-line {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: grey;
  color: grey;
  font-size: 10px;
}

.weekday-container {
  display: flex;
  justify-content: space-between;
}

.weekday-column {
  flex: 1;
  border-right: 1px solid grey;
  text-align: center;
}

.event-block {
  position: absolute;
  width: 100%;
  background-color: blue;
  opacity: 0.5;
}
